# skeleton
snippet skeleton
<!DOCTYPE html>
<html lang="${1}">
  <head>
    <meta charset="utf-8">
    <title>${2:untitled}</title>
  </head>
  <body>
    
  </body>
</html>
endsnippet

# script tag with src
snippet src
<script src="${1}"></script>
endsnippet
